* {
  --color-blue: var(--ant-blue);
  --color-purple: var(--ant-purple);
  --color-cyan: var(--ant-cyan);
  --color-green: var(--ant-green);
  --color-magenta: var(--ant-magenta);
  --color-pink: var(--ant-pink);
  --color-red: var(--ant-red);
  --color-orange: var(--ant-orange);
  --color-yellow: var(--ant-yellow);
  --color-volcano: var(--ant-volcano);
  --color-geekblue: var(--ant-geekblue);
  --color-gold: var(--ant-gold);
  --color-lime: var(--ant-lime);
  --color-colorPrimary: var(--ant-color-primary);
  --color-colorSuccess: var(--ant-color-success);
  --color-colorWarning: var(--ant-color-warning);
  --color-colorError: var(--ant-color-error);
  --color-colorInfo: var(--ant-color-info);
  --color-colorLink: var(--ant-color-link);
  --color-colorTextBase: var(--ant-color-text-base);
  --color-colorBgBase: var(--ant-color-bg-base);
  --color-blue-1: var(--ant-blue-1);
  --color-blue1: var(--ant-blue-1);
  --color-blue-2: var(--ant-blue-2);
  --color-blue2: var(--ant-blue-2);
  --color-blue-3: var(--ant-blue-3);
  --color-blue3: var(--ant-blue-3);
  --color-blue-4: var(--ant-blue-4);
  --color-blue4: var(--ant-blue-4);
  --color-blue-5: var(--ant-blue-5);
  --color-blue5: var(--ant-blue-5);
  --color-blue-6: var(--ant-blue-6);
  --color-blue6: var(--ant-blue-6);
  --color-blue-7: var(--ant-blue-7);
  --color-blue7: var(--ant-blue-7);
  --color-blue-8: var(--ant-blue-8);
  --color-blue8: var(--ant-blue-8);
  --color-blue-9: var(--ant-blue-9);
  --color-blue9: var(--ant-blue-9);
  --color-blue-10: var(--ant-blue-10);
  --color-blue10: var(--ant-blue-10);
  --color-purple-1: var(--ant-purple-1);
  --color-purple1: var(--ant-purple-1);
  --color-purple-2: var(--ant-purple-2);
  --color-purple2: var(--ant-purple-2);
  --color-purple-3: var(--ant-purple-3);
  --color-purple3: var(--ant-purple-3);
  --color-purple-4: var(--ant-purple-4);
  --color-purple4: var(--ant-purple-4);
  --color-purple-5: var(--ant-purple-5);
  --color-purple5: var(--ant-purple-5);
  --color-purple-6: var(--ant-purple-6);
  --color-purple6: var(--ant-purple-6);
  --color-purple-7: var(--ant-purple-7);
  --color-purple7: var(--ant-purple-7);
  --color-purple-8: var(--ant-purple-8);
  --color-purple8: var(--ant-purple-8);
  --color-purple-9: var(--ant-purple-9);
  --color-purple9: var(--ant-purple-9);
  --color-purple-10: var(--ant-purple-10);
  --color-purple10: var(--ant-purple-10);
  --color-cyan-1: var(--ant-cyan-1);
  --color-cyan1: var(--ant-cyan-1);
  --color-cyan-2: var(--ant-cyan-2);
  --color-cyan2: var(--ant-cyan-2);
  --color-cyan-3: var(--ant-cyan-3);
  --color-cyan3: var(--ant-cyan-3);
  --color-cyan-4: var(--ant-cyan-4);
  --color-cyan4: var(--ant-cyan-4);
  --color-cyan-5: var(--ant-cyan-5);
  --color-cyan5: var(--ant-cyan-5);
  --color-cyan-6: var(--ant-cyan-6);
  --color-cyan6: var(--ant-cyan-6);
  --color-cyan-7: var(--ant-cyan-7);
  --color-cyan7: var(--ant-cyan-7);
  --color-cyan-8: var(--ant-cyan-8);
  --color-cyan8: var(--ant-cyan-8);
  --color-cyan-9: var(--ant-cyan-9);
  --color-cyan9: var(--ant-cyan-9);
  --color-cyan-10: var(--ant-cyan-10);
  --color-cyan10: var(--ant-cyan-10);
  --color-green-1: var(--ant-green-1);
  --color-green1: var(--ant-green-1);
  --color-green-2: var(--ant-green-2);
  --color-green2: var(--ant-green-2);
  --color-green-3: var(--ant-green-3);
  --color-green3: var(--ant-green-3);
  --color-green-4: var(--ant-green-4);
  --color-green4: var(--ant-green-4);
  --color-green-5: var(--ant-green-5);
  --color-green5: var(--ant-green-5);
  --color-green-6: var(--ant-green-6);
  --color-green6: var(--ant-green-6);
  --color-green-7: var(--ant-green-7);
  --color-green7: var(--ant-green-7);
  --color-green-8: var(--ant-green-8);
  --color-green8: var(--ant-green-8);
  --color-green-9: var(--ant-green-9);
  --color-green9: var(--ant-green-9);
  --color-green-10: var(--ant-green-10);
  --color-green10: var(--ant-green-10);
  --color-magenta-1: var(--ant-magenta-1);
  --color-magenta1: var(--ant-magenta-1);
  --color-magenta-2: var(--ant-magenta-2);
  --color-magenta2: var(--ant-magenta-2);
  --color-magenta-3: var(--ant-magenta-3);
  --color-magenta3: var(--ant-magenta-3);
  --color-magenta-4: var(--ant-magenta-4);
  --color-magenta4: var(--ant-magenta-4);
  --color-magenta-5: var(--ant-magenta-5);
  --color-magenta5: var(--ant-magenta-5);
  --color-magenta-6: var(--ant-magenta-6);
  --color-magenta6: var(--ant-magenta-6);
  --color-magenta-7: var(--ant-magenta-7);
  --color-magenta7: var(--ant-magenta-7);
  --color-magenta-8: var(--ant-magenta-8);
  --color-magenta8: var(--ant-magenta-8);
  --color-magenta-9: var(--ant-magenta-9);
  --color-magenta9: var(--ant-magenta-9);
  --color-magenta-10: var(--ant-magenta-10);
  --color-magenta10: var(--ant-magenta-10);
  --color-pink-1: var(--ant-pink-1);
  --color-pink1: var(--ant-pink-1);
  --color-pink-2: var(--ant-pink-2);
  --color-pink2: var(--ant-pink-2);
  --color-pink-3: var(--ant-pink-3);
  --color-pink3: var(--ant-pink-3);
  --color-pink-4: var(--ant-pink-4);
  --color-pink4: var(--ant-pink-4);
  --color-pink-5: var(--ant-pink-5);
  --color-pink5: var(--ant-pink-5);
  --color-pink-6: var(--ant-pink-6);
  --color-pink6: var(--ant-pink-6);
  --color-pink-7: var(--ant-pink-7);
  --color-pink7: var(--ant-pink-7);
  --color-pink-8: var(--ant-pink-8);
  --color-pink8: var(--ant-pink-8);
  --color-pink-9: var(--ant-pink-9);
  --color-pink9: var(--ant-pink-9);
  --color-pink-10: var(--ant-pink-10);
  --color-pink10: var(--ant-pink-10);
  --color-red-1: var(--ant-red-1);
  --color-red1: var(--ant-red-1);
  --color-red-2: var(--ant-red-2);
  --color-red2: var(--ant-red-2);
  --color-red-3: var(--ant-red-3);
  --color-red3: var(--ant-red-3);
  --color-red-4: var(--ant-red-4);
  --color-red4: var(--ant-red-4);
  --color-red-5: var(--ant-red-5);
  --color-red5: var(--ant-red-5);
  --color-red-6: var(--ant-red-6);
  --color-red6: var(--ant-red-6);
  --color-red-7: var(--ant-red-7);
  --color-red7: var(--ant-red-7);
  --color-red-8: var(--ant-red-8);
  --color-red8: var(--ant-red-8);
  --color-red-9: var(--ant-red-9);
  --color-red9: var(--ant-red-9);
  --color-red-10: var(--ant-red-10);
  --color-red10: var(--ant-red-10);
  --color-orange-1: var(--ant-orange-1);
  --color-orange1: var(--ant-orange-1);
  --color-orange-2: var(--ant-orange-2);
  --color-orange2: var(--ant-orange-2);
  --color-orange-3: var(--ant-orange-3);
  --color-orange3: var(--ant-orange-3);
  --color-orange-4: var(--ant-orange-4);
  --color-orange4: var(--ant-orange-4);
  --color-orange-5: var(--ant-orange-5);
  --color-orange5: var(--ant-orange-5);
  --color-orange-6: var(--ant-orange-6);
  --color-orange6: var(--ant-orange-6);
  --color-orange-7: var(--ant-orange-7);
  --color-orange7: var(--ant-orange-7);
  --color-orange-8: var(--ant-orange-8);
  --color-orange8: var(--ant-orange-8);
  --color-orange-9: var(--ant-orange-9);
  --color-orange9: var(--ant-orange-9);
  --color-orange-10: var(--ant-orange-10);
  --color-orange10: var(--ant-orange-10);
  --color-yellow-1: var(--ant-yellow-1);
  --color-yellow1: var(--ant-yellow-1);
  --color-yellow-2: var(--ant-yellow-2);
  --color-yellow2: var(--ant-yellow-2);
  --color-yellow-3: var(--ant-yellow-3);
  --color-yellow3: var(--ant-yellow-3);
  --color-yellow-4: var(--ant-yellow-4);
  --color-yellow4: var(--ant-yellow-4);
  --color-yellow-5: var(--ant-yellow-5);
  --color-yellow5: var(--ant-yellow-5);
  --color-yellow-6: var(--ant-yellow-6);
  --color-yellow6: var(--ant-yellow-6);
  --color-yellow-7: var(--ant-yellow-7);
  --color-yellow7: var(--ant-yellow-7);
  --color-yellow-8: var(--ant-yellow-8);
  --color-yellow8: var(--ant-yellow-8);
  --color-yellow-9: var(--ant-yellow-9);
  --color-yellow9: var(--ant-yellow-9);
  --color-yellow-10: var(--ant-yellow-10);
  --color-yellow10: var(--ant-yellow-10);
  --color-volcano-1: var(--ant-volcano-1);
  --color-volcano1: var(--ant-volcano-1);
  --color-volcano-2: var(--ant-volcano-2);
  --color-volcano2: var(--ant-volcano-2);
  --color-volcano-3: var(--ant-volcano-3);
  --color-volcano3: var(--ant-volcano-3);
  --color-volcano-4: var(--ant-volcano-4);
  --color-volcano4: var(--ant-volcano-4);
  --color-volcano-5: var(--ant-volcano-5);
  --color-volcano5: var(--ant-volcano-5);
  --color-volcano-6: var(--ant-volcano-6);
  --color-volcano6: var(--ant-volcano-6);
  --color-volcano-7: var(--ant-volcano-7);
  --color-volcano7: var(--ant-volcano-7);
  --color-volcano-8: var(--ant-volcano-8);
  --color-volcano8: var(--ant-volcano-8);
  --color-volcano-9: var(--ant-volcano-9);
  --color-volcano9: var(--ant-volcano-9);
  --color-volcano-10: var(--ant-volcano-10);
  --color-volcano10: var(--ant-volcano-10);
  --color-geekblue-1: var(--ant-geekblue-1);
  --color-geekblue1: var(--ant-geekblue-1);
  --color-geekblue-2: var(--ant-geekblue-2);
  --color-geekblue2: var(--ant-geekblue-2);
  --color-geekblue-3: var(--ant-geekblue-3);
  --color-geekblue3: var(--ant-geekblue-3);
  --color-geekblue-4: var(--ant-geekblue-4);
  --color-geekblue4: var(--ant-geekblue-4);
  --color-geekblue-5: var(--ant-geekblue-5);
  --color-geekblue5: var(--ant-geekblue-5);
  --color-geekblue-6: var(--ant-geekblue-6);
  --color-geekblue6: var(--ant-geekblue-6);
  --color-geekblue-7: var(--ant-geekblue-7);
  --color-geekblue7: var(--ant-geekblue-7);
  --color-geekblue-8: var(--ant-geekblue-8);
  --color-geekblue8: var(--ant-geekblue-8);
  --color-geekblue-9: var(--ant-geekblue-9);
  --color-geekblue9: var(--ant-geekblue-9);
  --color-geekblue-10: var(--ant-geekblue-10);
  --color-geekblue10: var(--ant-geekblue-10);
  --color-gold-1: var(--ant-gold-1);
  --color-gold1: var(--ant-gold-1);
  --color-gold-2: var(--ant-gold-2);
  --color-gold2: var(--ant-gold-2);
  --color-gold-3: var(--ant-gold-3);
  --color-gold3: var(--ant-gold-3);
  --color-gold-4: var(--ant-gold-4);
  --color-gold4: var(--ant-gold-4);
  --color-gold-5: var(--ant-gold-5);
  --color-gold5: var(--ant-gold-5);
  --color-gold-6: var(--ant-gold-6);
  --color-gold6: var(--ant-gold-6);
  --color-gold-7: var(--ant-gold-7);
  --color-gold7: var(--ant-gold-7);
  --color-gold-8: var(--ant-gold-8);
  --color-gold8: var(--ant-gold-8);
  --color-gold-9: var(--ant-gold-9);
  --color-gold9: var(--ant-gold-9);
  --color-gold-10: var(--ant-gold-10);
  --color-gold10: var(--ant-gold-10);
  --color-lime-1: var(--ant-lime-1);
  --color-lime1: var(--ant-lime-1);
  --color-lime-2: var(--ant-lime-2);
  --color-lime2: var(--ant-lime-2);
  --color-lime-3: var(--ant-lime-3);
  --color-lime3: var(--ant-lime-3);
  --color-lime-4: var(--ant-lime-4);
  --color-lime4: var(--ant-lime-4);
  --color-lime-5: var(--ant-lime-5);
  --color-lime5: var(--ant-lime-5);
  --color-lime-6: var(--ant-lime-6);
  --color-lime6: var(--ant-lime-6);
  --color-lime-7: var(--ant-lime-7);
  --color-lime7: var(--ant-lime-7);
  --color-lime-8: var(--ant-lime-8);
  --color-lime8: var(--ant-lime-8);
  --color-lime-9: var(--ant-lime-9);
  --color-lime9: var(--ant-lime-9);
  --color-lime-10: var(--ant-lime-10);
  --color-lime10: var(--ant-lime-10);
  --color-colorText: var(--ant-color-text);
  --color-colorTextSecondary: var(--ant-color-text-secondary);
  --color-colorTextTertiary: var(--ant-color-text-tertiary);
  --color-colorTextQuaternary: var(--ant-color-text-quaternary);
  --color-colorFill: var(--ant-color-fill);
  --color-colorFillSecondary: var(--ant-color-fill-secondary);
  --color-colorFillTertiary: var(--ant-color-fill-tertiary);
  --color-colorFillQuaternary: var(--ant-color-fill-quaternary);
  --color-colorBgSolid: var(--ant-color-bg-solid);
  --color-colorBgSolidHover: var(--ant-color-bg-solid-hover);
  --color-colorBgSolidActive: var(--ant-color-bg-solid-active);
  --color-colorBgLayout: var(--ant-color-bg-layout);
  --color-colorBgContainer: var(--ant-color-bg-container);
  --color-colorBgElevated: var(--ant-color-bg-elevated);
  --color-colorBgSpotlight: var(--ant-color-bg-spotlight);
  --color-colorBgBlur: var(--ant-color-bg-blur);
  --color-colorBorder: var(--ant-color-border);
  --color-colorBorderSecondary: var(--ant-color-border-secondary);
  --color-colorPrimaryBg: var(--ant-color-primary-bg);
  --color-colorPrimaryBgHover: var(--ant-color-primary-bg-hover);
  --color-colorPrimaryBorder: var(--ant-color-primary-border);
  --color-colorPrimaryBorderHover: var(--ant-color-primary-border-hover);
  --color-colorPrimaryHover: var(--ant-color-primary-hover);
  --color-colorPrimaryActive: var(--ant-color-primary-active);
  --color-colorPrimaryTextHover: var(--ant-color-primary-text-hover);
  --color-colorPrimaryText: var(--ant-color-primary-text);
  --color-colorPrimaryTextActive: var(--ant-color-primary-text-active);
  --color-colorSuccessBg: var(--ant-color-success-bg);
  --color-colorSuccessBgHover: var(--ant-color-success-bg-hover);
  --color-colorSuccessBorder: var(--ant-color-success-border);
  --color-colorSuccessBorderHover: var(--ant-color-success-border-hover);
  --color-colorSuccessHover: var(--ant-color-success-hover);
  --color-colorSuccessActive: var(--ant-color-success-active);
  --color-colorSuccessTextHover: var(--ant-color-success-text-hover);
  --color-colorSuccessText: var(--ant-color-success-text);
  --color-colorSuccessTextActive: var(--ant-color-success-text-active);
  --color-colorErrorBg: var(--ant-color-error-bg);
  --color-colorErrorBgHover: var(--ant-color-error-bg-hover);
  --color-colorErrorBgFilledHover: var(--ant-color-error-bg-filled-hover);
  --color-colorErrorBgActive: var(--ant-color-error-bg-active);
  --color-colorErrorBorder: var(--ant-color-error-border);
  --color-colorErrorBorderHover: var(--ant-color-error-border-hover);
  --color-colorErrorHover: var(--ant-color-error-hover);
  --color-colorErrorActive: var(--ant-color-error-active);
  --color-colorErrorTextHover: var(--ant-color-error-text-hover);
  --color-colorErrorText: var(--ant-color-error-text);
  --color-colorErrorTextActive: var(--ant-color-error-text-active);
  --color-colorWarningBg: var(--ant-color-warning-bg);
  --color-colorWarningBgHover: var(--ant-color-warning-bg-hover);
  --color-colorWarningBorder: var(--ant-color-warning-border);
  --color-colorWarningBorderHover: var(--ant-color-warning-border-hover);
  --color-colorWarningHover: var(--ant-color-warning-hover);
  --color-colorWarningActive: var(--ant-color-warning-active);
  --color-colorWarningTextHover: var(--ant-color-warning-text-hover);
  --color-colorWarningText: var(--ant-color-warning-text);
  --color-colorWarningTextActive: var(--ant-color-warning-text-active);
  --color-colorInfoBg: var(--ant-color-info-bg);
  --color-colorInfoBgHover: var(--ant-color-info-bg-hover);
  --color-colorInfoBorder: var(--ant-color-info-border);
  --color-colorInfoBorderHover: var(--ant-color-info-border-hover);
  --color-colorInfoHover: var(--ant-color-info-hover);
  --color-colorInfoActive: var(--ant-color-info-active);
  --color-colorInfoTextHover: var(--ant-color-info-text-hover);
  --color-colorInfoText: var(--ant-color-info-text);
  --color-colorInfoTextActive: var(--ant-color-info-text-active);
  --color-colorLinkHover: var(--ant-color-link-hover);
  --color-colorLinkActive: var(--ant-color-link-active);
  --color-colorBgMask: var(--ant-color-bg-mask);
  --color-colorWhite: var(--ant-color-white);
  --color-colorFillContent: var(--ant-color-fill-content);
  --color-colorFillContentHover: var(--ant-color-fill-content-hover);
  --color-colorFillAlter: var(--ant-color-fill-alter);
  --color-colorBgContainerDisabled: var(--ant-color-bg-container-disabled);
  --color-colorBorderBg: var(--ant-color-border-bg);
  --color-colorSplit: var(--ant-color-split);
  --color-colorTextPlaceholder: var(--ant-color-text-placeholder);
  --color-colorTextDisabled: var(--ant-color-text-disabled);
  --color-colorTextHeading: var(--ant-color-text-heading);
  --color-colorTextLabel: var(--ant-color-text-label);
  --color-colorTextDescription: var(--ant-color-text-description);
  --color-colorTextLightSolid: var(--ant-color-text-light-solid);
  --color-colorHighlight: var(--ant-color-highlight);
  --color-colorBgTextHover: var(--ant-color-bg-text-hover);
  --color-colorBgTextActive: var(--ant-color-bg-text-active);
  --color-colorIcon: var(--ant-color-icon);
  --color-colorIconHover: var(--ant-color-icon-hover);
  --color-colorErrorOutline: var(--ant-color-error-outline);
  --color-colorWarningOutline: var(--ant-color-warning-outline);
  --color-controlItemBgHover: var(--ant-control-item-bg-hover);
  --color-controlItemBgActive: var(--ant-control-item-bg-active);
  --color-controlItemBgActiveHover: var(--ant-control-item-bg-active-hover);
  --color-controlItemBgActiveDisabled: var(--ant-control-item-bg-active-disabled);
  --color-controlTmpOutline: var(--ant-control-tmp-outline);
  --color-controlOutline: var(--ant-control-outline);
  --text-fontSize: var(--ant-font-size);
  --text-fontSizeSM: var(--ant-font-size-sm);
  --text-fontSizeLG: var(--ant-font-size-lg);
  --text-fontSizeXL: var(--ant-font-size-xl);
  --text-fontSizeHeading1: var(--ant-font-size-heading-1);
  --text-fontSizeHeading2: var(--ant-font-size-heading-2);
  --text-fontSizeHeading3: var(--ant-font-size-heading-3);
  --text-fontSizeHeading4: var(--ant-font-size-heading-4);
  --text-fontSizeHeading5: var(--ant-font-size-heading-5);
  --text-fontSizeIcon: var(--ant-font-size-icon);
  --text-fontHeight: var(--ant-font-height);
  --text-fontHeightLG: var(--ant-font-height-lg);
  --text-fontHeightSM: var(--ant-font-height-sm);
  --spacing-controlHeightSM: var(--ant-control-height-sm);
  --spacing-controlHeightXS: var(--ant-control-height-xs);
  --spacing-controlHeightLG: var(--ant-control-height-lg);
  --spacing-controlHeight: var(--ant-control-height);
  --spacing-sizePopupArrow: var(--ant-size-popup-arrow);
  --spacing-lineWidth: var(--ant-line-width);
  --spacing-lineWidthBold: var(--ant-line-width-bold);
  --spacing-lineWidthFocus: var(--ant-line-width-focus);
  --spacing-controlOutlineWidth: var(--ant-control-outline-width);
  --spacing-controlInteractiveSize: var(--ant-control-interactive-size);
  --spacing-controlPaddingHorizontal: var(--ant-control-padding-horizontal);
  --spacing-controlPaddingHorizontalSM: var(--ant-control-padding-horizontal-sm);
  --spacing-paddingXXS: var(--ant-padding-xxs);
  --spacing-paddingXS: var(--ant-padding-xs);
  --spacing-paddingSM: var(--ant-padding-sm);
  --spacing-padding: var(--ant-padding);
  --spacing-paddingMD: var(--ant-padding-md);
  --spacing-paddingLG: var(--ant-padding-lg);
  --spacing-paddingXL: var(--ant-padding-xl);
  --spacing-paddingContentHorizontalLG: var(--ant-padding-content-horizontal-lg);
  --spacing-paddingContentVerticalLG: var(--ant-padding-content-vertical-lg);
  --spacing-paddingContentHorizontal: var(--ant-padding-content-horizontal);
  --spacing-paddingContentVertical: var(--ant-padding-content-vertical);
  --spacing-paddingContentHorizontalSM: var(--ant-padding-content-horizontal-sm);
  --spacing-paddingContentVerticalSM: var(--ant-padding-content-vertical-sm);
  --spacing-marginXXS: var(--ant-margin-xxs);
  --spacing-marginXS: var(--ant-margin-xs);
  --spacing-marginSM: var(--ant-margin-sm);
  --spacing-margin: var(--ant-margin);
  --spacing-marginMD: var(--ant-margin-md);
  --spacing-marginLG: var(--ant-margin-lg);
  --spacing-marginXL: var(--ant-margin-xl);
  --spacing-marginXXL: var(--ant-margin-xxl);
  --font-fontFamily: var(--ant-font-family);
  --font-fontFamilyCode: var(--ant-font-family-code);
  --font-weight-fontWeightStrong: var(--ant-font-weight-strong);
  --leading-lineHeight: var(--ant-line-height);
  --leading-lineHeightLG: var(--ant-line-height-lg);
  --leading-lineHeightSM: var(--ant-line-height-sm);
  --leading-lineHeightHeading1: var(--ant-line-height-heading-1);
  --leading-lineHeightHeading2: var(--ant-line-height-heading-2);
  --leading-lineHeightHeading3: var(--ant-line-height-heading-3);
  --leading-lineHeightHeading4: var(--ant-line-height-heading-4);
  --leading-lineHeightHeading5: var(--ant-line-height-heading-5);
  --radius-borderRadius: var(--ant-border-radius);
  --radius-borderRadiusXS: var(--ant-border-radius-xs);
  --radius-borderRadiusSM: var(--ant-border-radius-sm);
  --radius-borderRadiusLG: var(--ant-border-radius-lg);
  --radius-borderRadiusOuter: var(--ant-border-radius-outer);
  --shadow-boxShadow: var(--ant-box-shadow);
  --shadow-boxShadowSecondary: var(--ant-box-shadow-secondary);
  --shadow-boxShadowTertiary: var(--ant-box-shadow-tertiary);
  --shadow-boxShadowPopoverArrow: var(--ant-box-shadow-popover-arrow);
  --shadow-boxShadowCard: var(--ant-box-shadow-card);
  --shadow-boxShadowDrawerRight: var(--ant-box-shadow-drawer-right);
  --shadow-boxShadowDrawerLeft: var(--ant-box-shadow-drawer-left);
  --shadow-boxShadowDrawerUp: var(--ant-box-shadow-drawer-up);
  --shadow-boxShadowDrawerDown: var(--ant-box-shadow-drawer-down);
  --inset-shadow-boxShadowTabsOverflowLeft: var(--ant-box-shadow-tabs-overflow-left);
  --inset-shadow-boxShadowTabsOverflowRight: var(--ant-box-shadow-tabs-overflow-right);
  --inset-shadow-boxShadowTabsOverflowTop: var(--ant-box-shadow-tabs-overflow-top);
  --inset-shadow-boxShadowTabsOverflowBottom: var(--ant-box-shadow-tabs-overflow-bottom);
  --ease-motionEaseOutCirc: var(--ant-motion-ease-out-circ);
  --ease-motionEaseInOutCirc: var(--ant-motion-ease-in-out-circ);
  --ease-motionEaseOut: var(--ant-motion-ease-out);
  --ease-motionEaseInOut: var(--ant-motion-ease-in-out);
  --ease-motionEaseOutBack: var(--ant-motion-ease-out-back);
  --ease-motionEaseInBack: var(--ant-motion-ease-in-back);
  --ease-motionEaseInQuint: var(--ant-motion-ease-in-quint);
  --ease-motionEaseOutQuint: var(--ant-motion-ease-out-quint);
}
