@theme {
  --color-blue: '';
  --color-purple: '';
  --color-cyan: '';
  --color-green: '';
  --color-magenta: '';
  --color-pink: '';
  --color-red: '';
  --color-orange: '';
  --color-yellow: '';
  --color-volcano: '';
  --color-geekblue: '';
  --color-gold: '';
  --color-lime: '';
  --color-colorPrimary: '';
  --color-colorSuccess: '';
  --color-colorWarning: '';
  --color-colorError: '';
  --color-colorInfo: '';
  --color-colorLink: '';
  --color-colorTextBase: '';
  --color-colorBgBase: '';
  --color-blue-1: '';
  --color-blue1: '';
  --color-blue-2: '';
  --color-blue2: '';
  --color-blue-3: '';
  --color-blue3: '';
  --color-blue-4: '';
  --color-blue4: '';
  --color-blue-5: '';
  --color-blue5: '';
  --color-blue-6: '';
  --color-blue6: '';
  --color-blue-7: '';
  --color-blue7: '';
  --color-blue-8: '';
  --color-blue8: '';
  --color-blue-9: '';
  --color-blue9: '';
  --color-blue-10: '';
  --color-blue10: '';
  --color-purple-1: '';
  --color-purple1: '';
  --color-purple-2: '';
  --color-purple2: '';
  --color-purple-3: '';
  --color-purple3: '';
  --color-purple-4: '';
  --color-purple4: '';
  --color-purple-5: '';
  --color-purple5: '';
  --color-purple-6: '';
  --color-purple6: '';
  --color-purple-7: '';
  --color-purple7: '';
  --color-purple-8: '';
  --color-purple8: '';
  --color-purple-9: '';
  --color-purple9: '';
  --color-purple-10: '';
  --color-purple10: '';
  --color-cyan-1: '';
  --color-cyan1: '';
  --color-cyan-2: '';
  --color-cyan2: '';
  --color-cyan-3: '';
  --color-cyan3: '';
  --color-cyan-4: '';
  --color-cyan4: '';
  --color-cyan-5: '';
  --color-cyan5: '';
  --color-cyan-6: '';
  --color-cyan6: '';
  --color-cyan-7: '';
  --color-cyan7: '';
  --color-cyan-8: '';
  --color-cyan8: '';
  --color-cyan-9: '';
  --color-cyan9: '';
  --color-cyan-10: '';
  --color-cyan10: '';
  --color-green-1: '';
  --color-green1: '';
  --color-green-2: '';
  --color-green2: '';
  --color-green-3: '';
  --color-green3: '';
  --color-green-4: '';
  --color-green4: '';
  --color-green-5: '';
  --color-green5: '';
  --color-green-6: '';
  --color-green6: '';
  --color-green-7: '';
  --color-green7: '';
  --color-green-8: '';
  --color-green8: '';
  --color-green-9: '';
  --color-green9: '';
  --color-green-10: '';
  --color-green10: '';
  --color-magenta-1: '';
  --color-magenta1: '';
  --color-magenta-2: '';
  --color-magenta2: '';
  --color-magenta-3: '';
  --color-magenta3: '';
  --color-magenta-4: '';
  --color-magenta4: '';
  --color-magenta-5: '';
  --color-magenta5: '';
  --color-magenta-6: '';
  --color-magenta6: '';
  --color-magenta-7: '';
  --color-magenta7: '';
  --color-magenta-8: '';
  --color-magenta8: '';
  --color-magenta-9: '';
  --color-magenta9: '';
  --color-magenta-10: '';
  --color-magenta10: '';
  --color-pink-1: '';
  --color-pink1: '';
  --color-pink-2: '';
  --color-pink2: '';
  --color-pink-3: '';
  --color-pink3: '';
  --color-pink-4: '';
  --color-pink4: '';
  --color-pink-5: '';
  --color-pink5: '';
  --color-pink-6: '';
  --color-pink6: '';
  --color-pink-7: '';
  --color-pink7: '';
  --color-pink-8: '';
  --color-pink8: '';
  --color-pink-9: '';
  --color-pink9: '';
  --color-pink-10: '';
  --color-pink10: '';
  --color-red-1: '';
  --color-red1: '';
  --color-red-2: '';
  --color-red2: '';
  --color-red-3: '';
  --color-red3: '';
  --color-red-4: '';
  --color-red4: '';
  --color-red-5: '';
  --color-red5: '';
  --color-red-6: '';
  --color-red6: '';
  --color-red-7: '';
  --color-red7: '';
  --color-red-8: '';
  --color-red8: '';
  --color-red-9: '';
  --color-red9: '';
  --color-red-10: '';
  --color-red10: '';
  --color-orange-1: '';
  --color-orange1: '';
  --color-orange-2: '';
  --color-orange2: '';
  --color-orange-3: '';
  --color-orange3: '';
  --color-orange-4: '';
  --color-orange4: '';
  --color-orange-5: '';
  --color-orange5: '';
  --color-orange-6: '';
  --color-orange6: '';
  --color-orange-7: '';
  --color-orange7: '';
  --color-orange-8: '';
  --color-orange8: '';
  --color-orange-9: '';
  --color-orange9: '';
  --color-orange-10: '';
  --color-orange10: '';
  --color-yellow-1: '';
  --color-yellow1: '';
  --color-yellow-2: '';
  --color-yellow2: '';
  --color-yellow-3: '';
  --color-yellow3: '';
  --color-yellow-4: '';
  --color-yellow4: '';
  --color-yellow-5: '';
  --color-yellow5: '';
  --color-yellow-6: '';
  --color-yellow6: '';
  --color-yellow-7: '';
  --color-yellow7: '';
  --color-yellow-8: '';
  --color-yellow8: '';
  --color-yellow-9: '';
  --color-yellow9: '';
  --color-yellow-10: '';
  --color-yellow10: '';
  --color-volcano-1: '';
  --color-volcano1: '';
  --color-volcano-2: '';
  --color-volcano2: '';
  --color-volcano-3: '';
  --color-volcano3: '';
  --color-volcano-4: '';
  --color-volcano4: '';
  --color-volcano-5: '';
  --color-volcano5: '';
  --color-volcano-6: '';
  --color-volcano6: '';
  --color-volcano-7: '';
  --color-volcano7: '';
  --color-volcano-8: '';
  --color-volcano8: '';
  --color-volcano-9: '';
  --color-volcano9: '';
  --color-volcano-10: '';
  --color-volcano10: '';
  --color-geekblue-1: '';
  --color-geekblue1: '';
  --color-geekblue-2: '';
  --color-geekblue2: '';
  --color-geekblue-3: '';
  --color-geekblue3: '';
  --color-geekblue-4: '';
  --color-geekblue4: '';
  --color-geekblue-5: '';
  --color-geekblue5: '';
  --color-geekblue-6: '';
  --color-geekblue6: '';
  --color-geekblue-7: '';
  --color-geekblue7: '';
  --color-geekblue-8: '';
  --color-geekblue8: '';
  --color-geekblue-9: '';
  --color-geekblue9: '';
  --color-geekblue-10: '';
  --color-geekblue10: '';
  --color-gold-1: '';
  --color-gold1: '';
  --color-gold-2: '';
  --color-gold2: '';
  --color-gold-3: '';
  --color-gold3: '';
  --color-gold-4: '';
  --color-gold4: '';
  --color-gold-5: '';
  --color-gold5: '';
  --color-gold-6: '';
  --color-gold6: '';
  --color-gold-7: '';
  --color-gold7: '';
  --color-gold-8: '';
  --color-gold8: '';
  --color-gold-9: '';
  --color-gold9: '';
  --color-gold-10: '';
  --color-gold10: '';
  --color-lime-1: '';
  --color-lime1: '';
  --color-lime-2: '';
  --color-lime2: '';
  --color-lime-3: '';
  --color-lime3: '';
  --color-lime-4: '';
  --color-lime4: '';
  --color-lime-5: '';
  --color-lime5: '';
  --color-lime-6: '';
  --color-lime6: '';
  --color-lime-7: '';
  --color-lime7: '';
  --color-lime-8: '';
  --color-lime8: '';
  --color-lime-9: '';
  --color-lime9: '';
  --color-lime-10: '';
  --color-lime10: '';
  --color-colorText: '';
  --color-colorTextSecondary: '';
  --color-colorTextTertiary: '';
  --color-colorTextQuaternary: '';
  --color-colorFill: '';
  --color-colorFillSecondary: '';
  --color-colorFillTertiary: '';
  --color-colorFillQuaternary: '';
  --color-colorBgSolid: '';
  --color-colorBgSolidHover: '';
  --color-colorBgSolidActive: '';
  --color-colorBgLayout: '';
  --color-colorBgContainer: '';
  --color-colorBgElevated: '';
  --color-colorBgSpotlight: '';
  --color-colorBgBlur: '';
  --color-colorBorder: '';
  --color-colorBorderSecondary: '';
  --color-colorPrimaryBg: '';
  --color-colorPrimaryBgHover: '';
  --color-colorPrimaryBorder: '';
  --color-colorPrimaryBorderHover: '';
  --color-colorPrimaryHover: '';
  --color-colorPrimaryActive: '';
  --color-colorPrimaryTextHover: '';
  --color-colorPrimaryText: '';
  --color-colorPrimaryTextActive: '';
  --color-colorSuccessBg: '';
  --color-colorSuccessBgHover: '';
  --color-colorSuccessBorder: '';
  --color-colorSuccessBorderHover: '';
  --color-colorSuccessHover: '';
  --color-colorSuccessActive: '';
  --color-colorSuccessTextHover: '';
  --color-colorSuccessText: '';
  --color-colorSuccessTextActive: '';
  --color-colorErrorBg: '';
  --color-colorErrorBgHover: '';
  --color-colorErrorBgFilledHover: '';
  --color-colorErrorBgActive: '';
  --color-colorErrorBorder: '';
  --color-colorErrorBorderHover: '';
  --color-colorErrorHover: '';
  --color-colorErrorActive: '';
  --color-colorErrorTextHover: '';
  --color-colorErrorText: '';
  --color-colorErrorTextActive: '';
  --color-colorWarningBg: '';
  --color-colorWarningBgHover: '';
  --color-colorWarningBorder: '';
  --color-colorWarningBorderHover: '';
  --color-colorWarningHover: '';
  --color-colorWarningActive: '';
  --color-colorWarningTextHover: '';
  --color-colorWarningText: '';
  --color-colorWarningTextActive: '';
  --color-colorInfoBg: '';
  --color-colorInfoBgHover: '';
  --color-colorInfoBorder: '';
  --color-colorInfoBorderHover: '';
  --color-colorInfoHover: '';
  --color-colorInfoActive: '';
  --color-colorInfoTextHover: '';
  --color-colorInfoText: '';
  --color-colorInfoTextActive: '';
  --color-colorLinkHover: '';
  --color-colorLinkActive: '';
  --color-colorBgMask: '';
  --color-colorWhite: '';
  --color-colorFillContent: '';
  --color-colorFillContentHover: '';
  --color-colorFillAlter: '';
  --color-colorBgContainerDisabled: '';
  --color-colorBorderBg: '';
  --color-colorSplit: '';
  --color-colorTextPlaceholder: '';
  --color-colorTextDisabled: '';
  --color-colorTextHeading: '';
  --color-colorTextLabel: '';
  --color-colorTextDescription: '';
  --color-colorTextLightSolid: '';
  --color-colorHighlight: '';
  --color-colorBgTextHover: '';
  --color-colorBgTextActive: '';
  --color-colorIcon: '';
  --color-colorIconHover: '';
  --color-colorErrorOutline: '';
  --color-colorWarningOutline: '';
  --color-controlItemBgHover: '';
  --color-controlItemBgActive: '';
  --color-controlItemBgActiveHover: '';
  --color-controlItemBgActiveDisabled: '';
  --color-controlTmpOutline: '';
  --color-controlOutline: '';
}

@theme {
  --text-fontSize: '';
  --text-fontSizeSM: '';
  --text-fontSizeLG: '';
  --text-fontSizeXL: '';
  --text-fontSizeHeading1: '';
  --text-fontSizeHeading2: '';
  --text-fontSizeHeading3: '';
  --text-fontSizeHeading4: '';
  --text-fontSizeHeading5: '';
  --text-fontSizeIcon: '';
  --text-fontHeight: '';
  --text-fontHeightLG: '';
  --text-fontHeightSM: '';
}

@theme {
  --spacing-controlHeightSM: '';
  --spacing-controlHeightXS: '';
  --spacing-controlHeightLG: '';
  --spacing-controlHeight: '';
  --spacing-sizePopupArrow: '';
  --spacing-lineWidth: '';
  --spacing-lineWidthBold: '';
  --spacing-lineWidthFocus: '';
  --spacing-controlOutlineWidth: '';
  --spacing-controlInteractiveSize: '';
  --spacing-controlPaddingHorizontal: '';
  --spacing-controlPaddingHorizontalSM: '';
  --spacing-paddingXXS: '';
  --spacing-paddingXS: '';
  --spacing-paddingSM: '';
  --spacing-padding: '';
  --spacing-paddingMD: '';
  --spacing-paddingLG: '';
  --spacing-paddingXL: '';
  --spacing-paddingContentHorizontalLG: '';
  --spacing-paddingContentVerticalLG: '';
  --spacing-paddingContentHorizontal: '';
  --spacing-paddingContentVertical: '';
  --spacing-paddingContentHorizontalSM: '';
  --spacing-paddingContentVerticalSM: '';
  --spacing-marginXXS: '';
  --spacing-marginXS: '';
  --spacing-marginSM: '';
  --spacing-margin: '';
  --spacing-marginMD: '';
  --spacing-marginLG: '';
  --spacing-marginXL: '';
  --spacing-marginXXL: '';
}

@theme {
  --font-fontFamily: '';
  --font-fontFamilyCode: '';
}

@theme {
  --font-weight-fontWeightStrong: '';
}

@theme {
  --leading-lineHeight: '';
  --leading-lineHeightLG: '';
  --leading-lineHeightSM: '';
  --leading-lineHeightHeading1: '';
  --leading-lineHeightHeading2: '';
  --leading-lineHeightHeading3: '';
  --leading-lineHeightHeading4: '';
  --leading-lineHeightHeading5: '';
}

@theme {
  --radius-borderRadius: '';
  --radius-borderRadiusXS: '';
  --radius-borderRadiusSM: '';
  --radius-borderRadiusLG: '';
  --radius-borderRadiusOuter: '';
}

@theme {
  --shadow-boxShadow: '';
  --shadow-boxShadowSecondary: '';
  --shadow-boxShadowTertiary: '';
  --shadow-boxShadowPopoverArrow: '';
  --shadow-boxShadowCard: '';
  --shadow-boxShadowDrawerRight: '';
  --shadow-boxShadowDrawerLeft: '';
  --shadow-boxShadowDrawerUp: '';
  --shadow-boxShadowDrawerDown: '';
}

@theme {
  --inset-shadow-boxShadowTabsOverflowLeft: '';
  --inset-shadow-boxShadowTabsOverflowRight: '';
  --inset-shadow-boxShadowTabsOverflowTop: '';
  --inset-shadow-boxShadowTabsOverflowBottom: '';
}

@theme {
  --ease-motionEaseOutCirc: '';
  --ease-motionEaseInOutCirc: '';
  --ease-motionEaseOut: '';
  --ease-motionEaseInOut: '';
  --ease-motionEaseOutBack: '';
  --ease-motionEaseInBack: '';
  --ease-motionEaseInQuint: '';
  --ease-motionEaseOutQuint: '';
}
